/* 
   reset
 */

 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}


body {
   font-family: 'Roboto Slab', serif;
   font-size: 18px;
 }
 .container {
   width: 700px;
   margin: 0 auto;
   padding: 30px 0;
 }
 
 li {
   list-style: none;
   padding: 20px 20px 20px 10px;
   border-bottom: 1px solid grey;
   display: flex;
   justify-content: space-between;
 }
 
 li:hover {
   background-color: rgba(255, 255, 255, 0.7);
 } 
 
 li button:hover {
   color: rgba(200, 0, 0, 0.7);
 }
 
 
 
 /* ----------- HEADER -----------*/
 
 header img {
   width: 300px;
 }
 
 .container-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px;
 }
 
 /* ----------- MAIN: Input -----------*/
 
 #input-container {
   display: flex;
   justify-content : center;
   gap: 40px;
 }
 
 #input-container input,
 #input-container button {
   font-size: 18px;
   padding: 10px 20px;
 }
 
 #input-container #input-content {
   display: flex;
   flex-direction: column  ;
   gap: 20px;
 }
 
 #input-container .btn {
   height  : fit-content;  
 }
 
 #insert-task {
   width: 400px;
 } 
 
 #error-message {
   color: rgba(200, 0, 0, 0.7);
   padding: 10px 5px;
   height: 40px;
   font-size: 15px;
 }
 
 
 /* ----------- MAIN: List -----------*/
 
 .list {
   background-color: rgba(128, 128, 128, 0.3);
   padding: 30px;
   margin-top: 30px;
 }
 
 .list h3 {
   padding: 0 10px 10px;
   border-bottom: 1px solid grey;
 }
 
 .list span {
   width: 100%;
 }
 
 .list button {
   width: 50px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 img{
   max-width: 50px;
 }
 
 
 
 
 
 /*********
 UTILITIES
 *********/
 
 .line-through {
   text-decoration: line-through;
 }



